/Bird Point/Source/BirdPoint/nbproject/private/
/Bird Point/Source/BirdPoint/build/
/Bird Point/Source/BirdPoint/dist/
Bird Point/Source/BirdPoint/nbproject/private/private.xml
Bird Point/Source/BirdPoint/nbproject/private/private.properties
