<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.3.206/birdpoint</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="generate_statistics">false</property>
        <property name="use_sql_coments">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="birdpoint.cidade.Cidade"/>
        <mapping class="birdpoint.curso.Curso"/>  
        <mapping class="birdpoint.disciplina.Disciplina"/>  
        <mapping class="birdpoint.professor.Professor"/>  
        <mapping class="birdpoint.semestre.Semestre"/>  
        <mapping class="birdpoint.gradecurricular.GradeCurricular"/>
        <mapping class="birdpoint.titulacao.Titulacao"/>     
        <mapping class="birdpoint.usuario.Usuario"/>  
        <mapping class="birdpoint.horario.Horario"/>  
        <mapping class="birdpoint.quadrohorarios.QuadroHorarios"/>
        <mapping class="birdpoint.anoexercicio.AnoExercicio"/>  
        <mapping class="birdpoint.registro.ponto.Ponto"/>  
        <mapping class="birdpoint.despesas.Despesas"/>  
        <mapping class="birdpoint.feriado.Feriado"/> 
        
    </session-factory>
</hibernate-configuration>

